
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div class="flex-col justify-center mb-3 d-flex container-fluid w-80 bg-zinc-700">
  <div class="p-3 m-3 container-fluid d-flex justify-content-center w-75">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: 'p-2'  %>
  </div>

  <div class="justify-center p-4 m-3 container-fluid d-flex w-77">
    <%= f.password_field :password, autocomplete: "new-password" , placeholder: "Password", class: 'p-2'  %>
  </div>

  <div class="justify-center p-5 m-3 container-fluid d-flex w-78">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password", class: 'p-2'  %>
  </div>
   </div>

    <%= f.submit "Sign up" , class: "bg-blue-900  d-flex justify-center text-white p-3 border-solid w-80 font-bold" %>

<% end %>

<%= render "devise/shared/links" %>
