<h2 class="container-fluid d-flex justify-content-center">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="container-fluid d-flex justify-content-center my-2">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="container-fluid d-flex justify-content-center position-relative top-9">
    <%= f.password_field :password, autocomplete: "new-password" , placeholder: "Password" %>
  </div>

  <div class="container-fluid d-flex justify-content-center my-3">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password" %>
  </div>

  <div class="container-fluid d-flex justify-content-center my-3">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
