
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div class="flex-col justify-center mb-3 d-flex container-fluid w-80 bg-zinc-700">
  <div class="p-3 m-3 container-fluid d-flex justify-content-center w-75">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: 'p-2'  %>
  </div>

  <div class="justify-center p-3 m-3 container-fluid d-flex w-75">
    <%= f.password_field :password, autocomplete: "new-password" , placeholder: "Password", class: 'p-2'  %>
  </div>

  <div class="justify-center p-3 m-3 container-fluid d-flex w-75">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password", class: 'p-2'  %>
  </div>
   </div>
  <div class="container p-3 bg-blue-600 border-solid d-flex w-80 border-3 ">
    <%= f.submit "Sign up" , class: "bg-blue-600  d-flex justify-center text-white ml-3 p-3 border-solid w-80 font-bold" %>
  </div>

<% end %>

<%= render "devise/shared/links" %>
