<div class="user_img">
      <%= image_tag("profile-picture.jpg", width:'100vw', height:'100%') %>
       </div>
<section class="user_container">
    <div class="user_data">
    <h2><%= @user.name%></h2>
    <p>Number of posts: <%= @user.posts_counter %></p>
  </div>
</section>

<ul>
<% @posts.each do |post| %>
    <li class="post_user">Post#<%= post.id %>
      <p><%= post.text%></p>
      <p>Comments: <%= post.comments_counter || 0 %> <span>Likes: <%= post.likes_counter || 0%></span></p>
      <button> <%=link_to "See Post", "posts/#{post.id}" %> </button>
    </li>
  <ul class="username-comments">
    <% post.most_recent_comments.each do |comment| %>
      <li><%= @user.name%>: <%= comment.text%></li>
    <%end%>
  </ul>
  </li>
<%end%>
</ul>
