<div class="justify-center font-bold text-white d-flex bg-slate-500">Display a specific user</div>
<%= render partial: 'partials/user_partial', locals: { user: @user } %>

<div >
Bio
<div>
<%= @user.bio%>
</div>

   <div>
    <% @user.posts.each do |e| %>
        <div class="posts">
            <h1>Post: <%= e.title %></h1>
            <p><%= e.text %></p>
            <div>
            <span>Comments:<%= e.comments_counter || 0%></span>
            <span>Likes:<%= e.likes_counter || 0%></span>
            </div>
          </div>
    <% end %>
    <%= link_to "Add New Post", "/users/#{@user.id}/posts/new", {:class => "see_all_post"}%>
<button><%=link_to "See all posts", user_posts_path(@user) %></button>
    </div>