<div class="justify-center p-4 text-3xl font-bold text-white d-flex bg-slate-500">Create new post article</div>
<div class="flex-col justify-center ml-80 d-flex">
<%= form_for @post, url: user_posts_path do |f| %>

  <% if @post.errors.any? %>
    <ul class="errors">
      <% @post.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <%= f.hidden_field :author_id, value: @params ? @params['user_id'] : '' %>

  <div class="mt-4 text-3xl text-bold text-slate-500">
    <%= f.text_field :title, placeholder: 'Article title' %>
  </div>
  <div class="mt-4 text-3xl text-bold text-slate-500">
    <%= f.text_area :text, placeholder: 'Article message ...' %>
  <div class="w-40 font-bold text-white bg-blue-600 rounded-full">
  <%= f.submit "Submit post", disable_with: 'Submiting...' %>
  </div>
<% end %> 