<div class="justify-center p-4 text-3xl font-bold text-white d-flex bg-slate-500">Display the list of all posts of a specific user</div>
<div class="user_container">
 <div class="post_header">
      <h2> Post #<%= @post.id %> by <span><%= @post.author.name %></span></h2>
      <p><%= @post.text%></p>
      <div class="comments-likes">Comment <%= @post.comments_counter || 0 %>,  <span>Likes <%= @post.likes_counter || 0%></span>
      </div></div>
    <div class="comments">
    <% if @comments %>
      <% @comments.each do |comment| %>
      
    <h2><%= comment.author.name %>: <%= comment.text %></h2>
    
  <% end %>

<% end %>
  </div>
</div>

<%= form_for @like, url:likes_path do |f|%>
  <%= f.hidden_field :author_id, value: @post.author.id %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.submit "Like", disable_with: 'updating likes...' %>
<% end %>

<h4>Add comment</h4>
<%= form_for @comment, url:comment_post_path do |f| %>
  <%= f.hidden_field :author_id, value: @post.author.id %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.label :text %><br />
  <%= f.text_area :text, placeholder:'Add your Comment' %><br />
  <%= f.submit "Submit comment" %>
<% end %>