<!DOCTYPE html>
<html>
  <head>
    <title>This is the blog app</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="justify-center d-flex mx-96">
  <div class="justify-center whitespace-normal container-fluid d-flex">
<% if user_signed_in? %>
  Logged in as <strong class="whitespace-normal"><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'd-flex  justify-center font-bold text-white bg-blue-500' %> |
 <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'd-flex mt-6 p-2 justify-center font-bold text-white bg-blue-500'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'd-flex  justify-center mt-6 p-2 font-bold text-white bg-blue-500'  %>
<% end %>
</div>

  <% if notice %>
  <p class="justify-center container-fluid d-flex"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="justify-center d-flex"><%= alert %></p>
  <% end %>
    <%= yield %>
  </body>
</html>
